@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mainBorderPane{
    -fx-background-color: grey;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: Bold;
}

.leftPane{
    -fx-background-color: #37134f;
}

.leftPaneText{
    -fx-text-fill: white;
}

.centerPane{
    -fx-background-color: white;
}

#buttonProceed, #buttonSignIn{
    -fx-background-color: #24c9ff;
    -fx-text-fill: white;
}

#buttonRegister, #completeBtn{
    -fx-background-color: #e90052;
    -fx-text-fill: white;
}

#forgotPassword, #backBtnLink, #returnBtnLink{
    -fx-font-size: 15px;
}

.signInText{
    -fx-text-fill: #37134f;
}

.registerPage, .registerPage1{
    -fx-background-color: white;
    -fx-text-fill: white;
}

.disclaimer{
    -fx-font-size: 12px;
    -fx-fill: #37134f;
}

.verificator{
    -fx-font-size: 18px;
    -fx-text-fill: #e90052;
    -fx-pref-width: 396.0;
    -fx-pref-height: 18.0;
}

.inputField{
    -fx-text-fill: #37134f;
    -fx-pref-width: 395.0;
    -fx-pref-height: 45.0;
}